body {
  margin: 0;
  font-family: Arial, sans-serif; /* Alterado para fonte Arial */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', monospace; /* Alterado para fonte 'Courier New' */
}
